<h1 >Welcome to <%= @crm_app_name %></h1>
<p class="onemenu">Main menu</p>
<ul class="menuoption">
  <li ><a href="/contacts" style="color:darkturquoise">View all contacts</a></li>
  <li ><a href="/contacts/new" style="color:coral">Add a new contact</a></li>
  <!-- please complete me with links to other actions -->
</ul>

