<h1 style="color:rgb(0, 168, 255); text-align:center; padding-top:20px;font-family:monospace">Welcome to <%= @crm_app_name %></h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add a new contact</a></li>
  <!-- please complete me with links to other actions -->
</ul>

