<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Testing out</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <link href='http://fonts.googleapis.com/css?family=Roboto:300italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<header>
<div id="headerlogo"> CRMgram</div>
  <nav>
    <ul>
      <li> <a class="nav-links" href="#">Home</a> </li> <!--CHANGE-->
      <li> <a class="nav-links" href="#">About</a> </li> <!--CHANGE-->
      <li> <a class="nav-links" href="#">Contact</a> </li> <!--CHANGE-->
    </ul>
  </nav>

  <!-- <img id="logo" src="https://skypeblogs.files.wordpress.com/2013/09/skype-logo-feb_2012_rgb_500.png" /> -->


</header>

  <%= yield %>




<footer>
<p id= "footer"></p>

</footer>

</body>
</html>