body {
  padding: 0;
  margin: 0;
  background-color: #2c3e50
}

header {
  position: relative;
  height: 84px;
  width: 100%;
  background:#009688;
  -webkit-box-shadow: 0px 2px 2px black;
  -moz-box-shadow: ;
  box-shadow: ;
}

nav {
  position: absolute;
  top: 43px; /*CHANGE Y of nav*/
  left: 1050px; /*CHANGE X of nav*/
  width:233px;
  /*border:1px solid red;*/
}

ul {
  list-style-type:none;
  margin:0;
  padding: 0;
  overflow:auto;
}

li {
  text-decoration: none;
  display: inline-block;
  margin-left: 9px;
  font-family: monospace;

}

h1{
  color:rgb(0, 168, 255);
  text-align:center;
  padding-top:10px;
  font-family:monospace;
  text-decoration:underline;
}

.onemenu{
  font-size:40px;
  text-align:center;
  padding-top:80px;
  font-family:monospace;
  color:bisque;
  text-decoration:underline
}

.menuoption{
  text-align:center;
  font-size:40px;
  padding-top:20px}

#headerlogo {
  padding-top: 25px;
  padding-left: 535px;
  font-size: 50px;
/*  font-family: Edwardian Script ITC;*/
  float:left;
  color: white;
  font-family: monospace;
}

.nav-links {
  text-decoration: none;
  color:white;
  font-family: monospace;
  font-style:italic;
  font-size:18px;
}


#logo {
  position: absolute;
  top:17px; /*CHANGE Y of Logo*/
  left:20px; /*CHANGE X of Logo*/
  width: 120px;
  height: auto;
}

#social {
  position: absolute;
  top:40px;  /*CHANGE Y */
  left:1090px; /*CHANGE X */
  width: 100px;
}

#footer {
  position: fixed;
  bottom: 0px;
  margin:0 auto;
  height: 50px;
  width:100%;
  background-image: linear-gradient(-135deg, transparent 50%, #6AC5F6 50%), linear-gradient(-45deg, #93D1F3 50%, transparent 50%);
  background-size: 50px 50px;
  z-index:-3;
}